python manage.py collectstatic
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
Automat==24.8.1
cffi==1.17.0
channels==4.1.0
channels-redis==4.2.0
constantly==23.10.4
cryptography==43.0.0
Django==5.1
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.8
incremental==24.7.2
msgpack==1.0.8
priority==1.3.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pyOpenSSL==24.2.1
redis==5.0.8
service-identity==24.1.0
sqlparse==0.5.1
tomli==2.0.1
Twisted==24.7.0
typing_extensions==4.12.2
zope.interface==7.0.3
